# Ignore virtual environment
venv/

# Ignore data files
*.zip
*.csv

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment configs
.env
.kaggle/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE settings
.idea/
.DS_Store